<a 
 href="https://colab.research.google.com/github/LearnPythonWithRune/DataScienceWithPython/blob/main/colab/final/00 - Lesson - Data Science Workflow.ipynb"
 target="_parent">
<img 
 src="https://colab.research.google.com/assets/colab-badge.svg"
alt="Open In Colab"/>
</a>

# Data Science Workflow

## Why Data Science?
#### Motivation to learn Data Science
- Smart phones collect data
- Data driven decisions in business
- Understand the world

#### Job opportunities: Data Science with Python
- Over 2.5 million jobs in data science and related professions (Burning Glass)
- Python most popular language for data science (KDnuggets)
- Data Science and Analytics professionals have average starting salary of over USD 80,000 in the US.

#### Popularity?
- The amount data available today
- Data-driven applications have shown high value

## How did Data Science start?
- [Data Analysis Helped Defeat Cholera](https://www.udacity.com/blog/2015/02/how-data-analysis-helped-defeat-cholera.html)
- [First Modern Weahter Forecast](https://en.wikipedia.org/wiki/Weather_forecasting#Modern_methods)

## Data Science: Understanding the Problem
- Get the right question:
    - What is the **problem** we try to **solve**?
    - This forms the **Data Science problem**
    - **Examples**
        - Sales figure and call center logs: evaluate a new product
        - Sensor data from multiple sensors: detect equipment failure
        - Customer data + marketing data: better targeted marketing
- **Assess situation**
    - Risks, Benefits, Contingencies, Regulations, Resources, Requirement
- **Define goal**
    - What is the **objective**?
    - What is the **success criteria**?
- **Conclusion**
    - Defining the problem is key to successful Data Science projects

## The Data Science Workflow

![Data Science Workflow](https://raw.githubusercontent.com/LearnPythonWithRune/DataScienceWithPython/main/jupyter/final/img/ds-workflow.png)

### Example: Weather forecast
- Step 1
    - **Problem**: Predict weather tomorrow
    - **Data**: Time series on *Temperateture, Air pressure, Humidity, Rain, Wind speed, Wind direction, etc.*
    - **Import**: Collect data from sources
- Step 2
    - **Explore**: Data quality
    - **Visualize**: A great way to understand data
    - **Cleaning**: Handle missing or faulty data
- Step 3
    - **Features**: Select features to use in model
    - **Model**: Example in predicting *rain/no rain* ([Tutorial + Video + Code + Project](https://www.learnpythonwithrune.org/linear-classifier-from-scratch-explained-on-real-project/))
    - **Analyze**: Apply the prediction model
- Step 4
    - **Present**: Weather forecast
    - **Visualize**: Charts, maps, etc.
    - **Credibility**: Inaccurate results, too high confidence, not presenting full findings
- Step 5
    - **Insights**: What to wear, impact on outside events, etc.
    - **Impact**: Sales and weather forecast *(umbrella, ice cream, etc.)*
    - **Main goal**: This is what makes Data Science valuable

## Data Scientist Skills
#### Beginners vs Experts Data Scientists

![Data Science Workflow](https://raw.githubusercontent.com/LearnPythonWithRune/DataScienceWithPython/main/jupyter/final/img/ds-workflow-focus.png)

### Hard skills
- Math and Statistics
- Programming
- Domain knowledge
- Data visualization

### Soft skills
- Curiosity
- Communication
- Storytelling Skills
- Structured Thinking

## Student Grade Prediction
- Predict the final grade of Portugese high school students ([source: Kaggle](https://www.kaggle.com/dipam7/student-grade-prediction))

### Features
| Feature | Description |
| ------------- |-------------|
| school | student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira) |
| sex | student's sex (binary: 'F' - female or 'M' - male) |
| age | student's age (numeric: from 15 to 22) |
| address | student's home address type (binary: 'U' - urban or 'R' - rural) |
| famsize | family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3) |
| Pstatus | parent's cohabitation status (binary: 'T' - living together or 'A' - apart) |
| Medu | mother's education (numeric: 0: none, 1: primary education (4th grade), 2: 5th to 9th grade, 3: secondary education or 4: higher education) |
| Fedu | father's education (numeric: 0: none, 1: primary education (4th grade), 2: 5th to 9th grade, 3:   secondary education or 4: higher education) |
| Mjob | mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other') |
| Fjob | father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other') |
| reason | reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other') |
| guardian | student's guardian (nominal: 'mother', 'father' or 'other') |
| traveltime | home to school travel time (numeric: 1: <15 min., 2: 15-30 min., 3: 30 min. - 1 hour, or 4: >1 hour) |
| studytime | weekly study time (numeric: 1: <2 hours, 2: 2 to 5 hours, 3: 5 to 10 hours, or 4: >10 hours) |
| failures | number of past class failures (numeric: n if 1<=n<3, else 4) |
| schoolsup | extra educational support (binary: yes or no) |
| famsup | family educational support (binary: yes or no) |
| paid | extra paid classes within the course subject (Math or Portuguese) (binary: yes or no) |
| activities | extra-curricular activities (binary: yes or no) |
| nursery | attended nursery school (binary: yes or no) |
| higher | wants to take higher education (binary: yes or no) |
| internet | Internet access at home (binary: yes or no) |
| romantic | with a romantic relationship (binary: yes or no) |
| famrel | quality of family relationships (numeric: from 1 - very bad to 5 - excellent) |
| freetime | free time after school (numeric: from 1 - very low to 5 - very high) |
| goout | going out with friends (numeric: from 1 - very low to 5 - very high) |
| Dalc | workday alcohol consumption (numeric: from 1 - very low to 5 - very high) |
| Walc | weekend alcohol consumption (numeric: from 1 - very low to 5 - very high) |
| health | current health status (numeric: from 1 - very bad to 5 - very good) |
| absences | number of school absences (numeric: from 0 to 93) |

### Targets
| Feature | Description |
| ------------- |-------------|
| G1 | first period grade (numeric: from 0 to 20) |
| G2 | second period grade (numeric: from 0 to 20) |
| G3 | final grade (numeric: from 0 to 20, output target) |

### Problem: Propose activities to improve G3 grades.

#### Our Goal
- To guide the school how they helps students getting higher grades

> #### Programming Notes:
> - Libraries used
>     - [**pandas**](https://pandas.pydata.org) - a data analysis and manipulation tool
> - Functionality and concepts used
>     - [**CSV**](https://en.wikipedia.org/wiki/Comma-separated_values) file ([Lecture on CSV](https://youtu.be/LEyojSOg4EI))
>     - [**read_csv()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) read a comma-separated values (csv) file into **pandas** DataFrame.
>     - [**corr()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html) Compute pairwise correlation of **pandas** DataFrame columns, excluding NA/null values.
>     - [**groupby()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) Grouping a **pandas** DataFrame column to apply a function on it.
>     - [**mean()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html) Return the mean of the values over the requested axis in a **pandas** DataFrame.
>     - [**std()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.std.html) Return sample standard deviation over requested axis of a **pandas** DataFrame.
>     - [**count()**](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.count.html) Count non-NA cells for each column or row of a **pandas** DataFrame.

### Step 1: Acquire
- Explore problem
- Identify data
- Import data

#### Get the right questions
- This forms the data science problem
- What is the problem

#### Examples
| Data | Problem |
| ---- | ------- |
| Sales figure and call center logs | evaluate a new product |
| Sensor data from multiple sensors | detect equipment failure |
| Customer data & marketing data | better targeted marketing |

#### Understand context
- Student age?
- What is possible?
- What is the budget?

#### Data
- Import and read the data

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/LearnPythonWithRune/DataScienceWithPython/main/jupyter/final/files/student-mat.csv')

In [4]:
len(data)

395

In [5]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [6]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

### Step 2: Prepare
- Explore data
- Visualize ideas
- Cleaning data

Are the data types as expected?

In [7]:
data.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

Are there missing values?

In [8]:
data.isnull().any()

school        False
sex           False
age           False
address       False
famsize       False
Pstatus       False
Medu          False
Fedu          False
Mjob          False
Fjob          False
reason        False
guardian      False
traveltime    False
studytime     False
failures      False
schoolsup     False
famsup        False
paid          False
activities    False
nursery       False
higher        False
internet      False
romantic      False
famrel        False
freetime      False
goout         False
Dalc          False
Walc          False
health        False
absences      False
G1            False
G2            False
G3            False
dtype: bool

### Step 3: Analyze
- Feature selection
- Model selection
- Analyze data*

####  Explore correlation

How to interpret correlation
![Correlation diagram](https://raw.githubusercontent.com/LearnPythonWithRune/DataScienceWithPython/main/jupyter/final/img/correlation-diagram.png)

In [12]:
data.corr()['G3']

age          -0.161579
Medu          0.217147
Fedu          0.152457
traveltime   -0.117142
studytime     0.097820
failures     -0.360415
famrel        0.051363
freetime      0.011307
goout        -0.132791
Dalc         -0.054660
Walc         -0.051939
health       -0.061335
absences      0.034247
G1            0.801468
G2            0.904868
G3            1.000000
Name: G3, dtype: float64

Notice that it only makes correlation with numeric features.

In [13]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

Find high impact features - but what can you do about it? Medu, Mjob

In [14]:
data.groupby('higher')['G3'].mean()

higher
no      6.800
yes    10.608
Name: G3, dtype: float64

In [15]:
data.groupby('higher')['G3'].count()

higher
no      20
yes    375
Name: G3, dtype: int64

#### Standard deviation
![Standard deviation](https://raw.githubusercontent.com/LearnPythonWithRune/DataScienceWithPython/main/jupyter/final/img/std-diagram.png)

In [16]:
data.groupby('higher')['G3'].std()

higher
no     4.829732
yes    4.493422
Name: G3, dtype: float64

### Step 4: Report
- Present findings
- Visualize results
- Credibility counts

#### Credibility
- The impact we expect

In [17]:
data['G3'].mean()

10.415189873417722

In [18]:
data.groupby('higher')['G3'].mean()

higher
no      6.800
yes    10.608
Name: G3, dtype: float64

In [19]:
data.groupby('higher')['G3'].count()

higher
no      20
yes    375
Name: G3, dtype: int64

Impact not the huge

### Step 5: Actions
- Use insights
- Measure impact
- Main goal

Impact measures
- Same data after effort
- Measure if 'higher' is lower
- Did it influence G3?